* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: slategray;
    /* height: 400px; */
}

.grid-container{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.grid-container > section {
    background-color: #FFFFFF;
    height: 4rem;
}

.grid-container > .logo {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
}
.logo > img {
    margin-right: 10px;
    max-width: 14rem;
  height: 2.7rem;
  display: block;
  cursor: pointer;
}
.logo > input {
    width: 250px;
    height: 2.5rem;
    min-width: 25%;

}

.logo > a {
    margin-left: 10px;
    text-decoration: none;
    color: #707070;
    
}

.grid-container > .navbar {
    /* width: 50%; */
    display: flex;
    justify-content: start;
    align-items: center;
    width: 745px;
    min-width: 67%;    
    margin: 0 auto ;
    gap: .4em;    
    
}

.navbar > a {
    text-decoration: none;
    color: #707070;
    font-size: xx-small;
    
}

.button {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 745px;
    min-width: 67%;    
    margin: 0 auto ;
    gap: 1em;        
}

.button > button {
    width: 70px;
    height: 3em;
    font-size: 1em;
    color: #707070;
    background-color: #FFFFFF ;
    border-radius: 5px;
    border: 1px solid ;
    font-size: smaller;
    
}

.button > button:hover {
    
    color: #707070;
    background-color: #F8F8F8 ;
    border-radius: 5px;
    
}
.button > select {
    width: 80px;
    height: 3em;
    font-size: 1em;
    color: #707070;
    background-color: #FFFFFF ;
    border-radius: 5px;
    border: 1px solid ;
    padding: 3px;
    font-size: smaller;
}

.button > select:hover {
    
    color: #707070;
    background-color: #F8F8F8 ;
    border-radius: 5px;
    
}


/* ////////////// Header section over here //////////////// */
main {
    margin: 10px ;
    padding: 10px;
    
    max-width: 900px;
    height: 500px;   
    margin: 20px auto;
}
.inspiration-card {
    background-color: #F8F8F8;
    display: grid;
    grid-template-columns: repeat(6, 1.5fr);
    text-align: center;
    padding: 1em;
    margin: 2em;
    border-radius: 10px;
    

}

.inspiration-card > .card > figure > img {
    width: 90%;
    
    border-radius: 100px;
    margin: 1em;
}


.brand-card {
    
    display: grid;
    grid-template-columns: repeat(6, 1.5fr);
    text-align: center;
    padding: 1em;
    margin: 2em;
    border-radius: 10px;
    

}

.brand-card > .card > figure > img {
    width: 90%;
    border-radius: 100px;
    margin: 1em;
}




.restaurant {
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;

}

.restaurant > .card {    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 1s;
    border-radius: 10px;
}

.restaurant > .card:hover {
    box-shadow: -1px 4px 4px 4px #dfd7d7;
}

.restaurant > .card > figure > img{
    width: 100%;
    height: 240px;
    margin: 1em;
}
.restaurant > .card > .info1 {
    padding : 0 1em;
    display: flex;
    justify-content: space-between;
    color: #707070;
}
.info1 > .ratting {
    background-color: green;
    width: 40px;
    padding-left: 4px;
    border-radius: 10px;
    color: antiquewhite;
    
    margin-right: 6px;
    
}
svg {
    width: 10px;
    margin: 4px 0px 0px 4px;
}

.restaurant > .card > .info2 {
     padding: 1em;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    color: #707070;
}
.restaurant > .card > figure > img {    
    width: 93%;
    border-radius: 10%;
}
.discount {
    background-color: blue;
    display: inline-block;
    transform: translate(14px, -40px);
    width: 80px;
    color: antiquewhite;
    padding-left: 8px;
    border-radius: 10px 80px ;
}