* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: slategray;
    /* height: 400px; */
}

.grid-container{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.grid-container > section {
    background-color: red;
    height: 4rem;
}

.grid-container > .logo {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
}
.logo > img {
    margin-right: 10px;
    max-width: 14rem;
  height: 2.7rem;
  display: block;
  cursor: pointer;
}
.logo > input {
    width: 250px;
    height: 2.5rem;
    min-width: 25%;

}

.logo > a {
    margin-left: 10px;
    text-decoration: none;
}

.grid-container > .navbar {
    /* width: 50%; */
    display: flex;
    justify-content: start;
    align-items: center;
    width: 745px;
    min-width: 67%;    
    margin: 0 auto ;
    gap: 1.5em;    
    
}

.navbar > a {
    text-decoration: none;
    color: antiquewhite;
}

.button {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 745px;
    min-width: 67%;    
    margin: 0 auto ;
    gap: 1em;        
}

.button > button {
    width: 60px;
    height: 1.8em;
    font-size: 1em;
}
/* ////////////// Header section over here //////////////// */
main {
    margin: 10px ;
    padding: 10px;
    /* background-color: blue; */
    max-width: 900px;
    height: 500px;   
    margin: 20px auto;
}
.inspiration-card {
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: repeat(6, 1.5fr);
    text-align: center;
    padding: 1em;
    margin: 2em;
    

}

.inspiration-card > .card > figure > img {
    width: 90%;
    border-radius: 100px;
    margin: 1em;
}




.restaurant {
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;

}

.restaurant > .card {    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 1s;
}

.restaurant > .card:hover {
    box-shadow: -1px 4px 4px 4px red;
}

.restaurant > .card > figure > img{
    width: 100%;
    margin: 1em;
}
.restaurant > .card > .info1 {
    padding : 0 1em;
    display: flex;
    justify-content: space-between;
}
.info1 > .ratting {
    background-color: green;
    width: 60px;
    padding-left: 4px;
    border-radius: 10px;
    color: antiquewhite;
    margin-right: 6px;
    
}
svg {
    width: 10px;
    margin: 4px 0px 0px 20px;
}

.restaurant > .card > .info2 {
     padding: 1em;
    display: flex;
    justify-content: space-between;
}
.restaurant > .card > figure > img {    
    width: 93%;
    border-radius: 10%;
}
.discount {
    background-color: blue;
    display: inline-block;
    transform: translate(14px, -40px);
    width: 80px;
    color: antiquewhite;
    padding-left: 8px;
    border-radius: 10px 80px ;
}